.logo {

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__article {
        margin-top: 10px;

        &__title {
            margin-bottom: 10px;
            font-weight: 600;
            font-size: 1.2rem;
        }

        &__text {
            margin-bottom: 10px;
        }
    }

    &__history {
        text-align: center;

        &__title {
            margin: 20px 0;
        }
    }

    &__image {
        width: 300px;
    }
}