.cars {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    &__article {
        width: 100%;
        max-width: 800px;
        margin-top: 20px;

        &__title {
            margin-bottom: 15px;
            font-weight: 600;
            font-size: 1.8rem;
        }

        &__text {
            margin-bottom: 15px;
            font-size: 1.2rem;
            line-height: 1.6;
        }

        &__link {
            color: rgb(102, 202, 248);
            text-decoration: underline;
        }

        &__image {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        &__images {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 10px;

            img {
                width: 50%;
            }
        }
    }

    &__history {
        text-align: center;
        margin-top: 40px;

        &__title {
            font-size: 1.6rem;
            font-weight: bold;
            color: rgb(102, 202, 248);
            margin-bottom: 20px;
        }

        &__text {
            font-size: 1.2rem;
            line-height: 1.5;
            text-align: justify;
        }
    }

    &__image {
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
    }
}
